@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap");

@import "reset.css";
@import "variables.css";

/*  Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-raw.css";
@import "components/no-mobile.css";

/*  Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

/* img {
  width: 25px;
  height: 25px;
} */

body {
  font-family: "Cairo", sans-serif;
  color: #2e363e;
}

.main-screen {
  padding: 0 var(--horizontal-space);
}

/* .main-screen__chats {
  height: 100%;
} */
