#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
  background-color: #abc1d1;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0px;
}

#chat-screen .alt-header {
  z-index: 1;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.8s linear;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 10px;
}
.message__author {
  opacity: 0.8;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.message__content {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  font-size: 18px;
  padding: 13px;
  border-radius: 15px;
  margin-right: 5px;
  border-top-left-radius: 0px;
}

.message__time {
  opacity: 0.8;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__content {
  flex-direction: row-reverse;
}

.message-box {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  box-sizing: border-box;
  transition: trasnform 0.3s ease-in-out;
}

.message-box i {
  opacity: 0.5;
}

.message-box .message-box__column:first-child {
  width: 10%;
}

.message-box .message-box__column:last-child {
  width: 90%;
  position: relative;
}

.message-box__column:first-child {
  display: flex;
  align-items: center;
}

.message-box__column:first-child i {
  font-size: 25px;
}

.message-box input {
  height: 30px;
  width: 97%;
  border: var(--main-border);
  border-radius: 20px;
  padding-left: 20px;
  transition: all 0.3s ease-in-out;
}

.message-box input::placeholder {
  font-size: 13px;
}

.message-box input:focus {
  outline: 3px solid #b5b0fa;
}

.message-box__column:last-child > i,
.message-box__column:last-child button {
  position: absolute;
  right: -9px;
  top: 2px;
}

.message-box__column:last-child > i {
  right: 30px;
  top: 16px;
}

.message-box__column:last-child button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.message-box__column:last-child button i {
  opacity: 1;
}

.message-box__column:last-child button:focus,
.message-box__column:last-child button:active {
  outline: none;
}

.message-box .message-box__column:first-child,
.message-box .fa-face-smile,
.message-box button {
  transition: opacity 0.3s ease-in-out;
}

.message-box:focus-within .message-box__column:first-child,
.message-box:focus-within .fa-face-smile,
.message-box:focus-within button {
  opacity: 0;
}

.message-box__column input:focus {
  width: 90vw;
  transform: translateX(-13%) translateY(-60px);
}

.message-box:focus-within {
  transform: translateY(50px);
}
