.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px var(--horizontal-space) 25px;
  opacity: 90%;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 700;
}

.screen-header__icons i {
  margin-left: 25px;
}

.screen-header__icons__icon .fa-gear {
  position: relative;
}

.screen-header__icon__red-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: block;
  background-color: #ff3838;
  position: absolute;
  top: -13px;
  right: -7px;
}

@keyframes cogSpin {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  animation: cogSpin 2s linear infinite;
  cursor: pointer;
}
