.more-screen .icon-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 35px;
  padding: 0;
}

.more-screen .icon-row__icon {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 43px;
}

.more-suggestions {
  border-top: var(--main-border);
  padding-top: 30px;
}

.more-suggestions__title {
  margin-bottom: 27px;
  font-weight: 600;
}

.more-suggestions__icons {
  display: flex;
}

.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-suggestions__icon-image img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 5px;
}
