.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  /* box의 크기를 유지한 채 padding을 줄 수 있다.*/
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav__ul {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  opacity: 0.9;
  position: relative;
}

.nav__li:nth-child(3) img {
  width: 30px;
  height: 30px;
}

.nav__notification {
  position: absolute;
  bottom: 22px;
  right: -15px;
  animation: notiAnime 2.5s ease-in-out infinite;
  animation-delay: 0.8s;
}

@keyframes notiAnime {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.nav__red-dot {
  display: flex;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #fd79a8;
  position: absolute;
  right: -7px;
  top: -7px;
}

@keyframes apperaLiAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav__li {
  transform: translateY(50px);
  opacity: 0;
  animation: apperaLiAnime 0.3s ease-in-out forwards;
}

.nav__li:nth-child(2) {
  animation-delay: 0.2s;
}
.nav__li:nth-child(3) {
  animation-delay: 0.4s;
}
.nav__li:last-child {
  animation-delay: 0.6s;
}
