/* #no-mobile {
  position: absolute;
  top: 0;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: #55efc4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
} */

#no-mobile {
  display: none;
}

@media screen and (min-width: 645px) {
  #no-mobile {
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: #55efc4;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
  }
  /* 스크롤 불가 설정 */
  body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}
